/* General CSS for all 4 pages */

/* The coding came so much easier than the design colors did. I need a lot of help on the colors. I went with neutrals because everything else looked pretty garish.*/

body {
    background-color: #5E5E5E;
    color: #C4C4C4;
    font-size: 17px;
    font-family: "Times New Roman", "Times", serif; }

/*TRouBLe */
nav { border-top: 5px solid #303030;
    border-bottom: 5px solid #303030;
    padding:7px 0 7px 20px;
    font-family: arial, helvetica, sans-serif; }
    
nav a {
    margin-right: 230px; }


nav a:link { color: #BABABA;}    /* LoVeHAte */
nav a:visited { color: #BABABA;}
nav a:hover { color: #000000;}
nav a:active { color: #000000; }



h1 {
    background-color: #071C71;
    color: #ffffff;
    width: 100%;
    font-size: 52px;
    font-family: arial, helvetica, sans-serif; 
    margin:7px 0 15px 0;
    padding:6px 0 6px 7px;   }


h2 {
    color: #000000;
    font-size: 24px;
    font-family: arial, helvetica, sans-serif; }


h3 {
    text-decoration: underline;
    color: #000000;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif; }

article {
    margin:0 25px 0 25px; }

article a:link {color: #071C71;}
article a:visited { color: #071C71;}
article a:hover {color: #000000;}
article a:active {color: #000000;}


footer {
    margin-top: 20px;
    border-top: 5px solid #303030;
    border-bottom: 5px solid #303030;
    padding:7px 0 7px 20px;
    font-family:"arial", "helvetica", sans-serif; }

footer a {
    margin-right: 200px; }

footer a:link { color: #BABABA;}
footer a:visited { color: #BABABA;}
footer a:hover { color: #000000;}
footer a:active { color: #000000; }



/*This CSS applies to the Home/index.html page */

.home {   
    border:7px double #474747;
    margin:30px 0 0 270px;
    padding-left: 20px;
    padding-right:20px}

.homeimg {
    float: left;
    margin:30px 15px 30px 7px; }

@media screen and (max-width: 600px) {
    body {
        padding: 5%;
    }
    
    h1 a {
        font-size: 35px;
         }
    
    nav a {
        display: block;
        margin: 0;
        }
     footer a {
    display: block;
        margin: 0;
    }
    .homeimg {
        width: 80%;
        margin: 10%;
                }
    
    .home {
        width: 95%;
        clear: both;
        margin-left: 0%;
           }
   }

h1 a:link {color: #ffffff;}
h1 a:visited { color: #ffffff;}
h1 a:hover {color: #5E5E5E;}
h1 a:active {color: #5E5E5E;}

h1 a {
    text-decoration:none; }

aside { /* This is for my social media site links on my home page. */
   width: 200px;
   margin-left: 25px; }

aside img {
    width: 27%; }


/*This CSS applies to the My Clips page */
.clips {  
border:7px solid #B3B3B3; }

.clips img {
padding:15px 15px 15px 15px; }

.clips iframe {
padding:15px 15px 15px 15px; }



/*This CSS applies to the My Resume page */
span {
    color: #071C71;
    float: right;
    margin-right: 250px; }

em {
    color: #071C71; }

h3 em {
color: #000000; }



/*This CSS applies to the My Experience page */
.audio {
    border:6px double #474747;
    margin:15px 0 15px 0;
    padding:2px 15px 10px 15px; }

figure {
    float: right;
    margin:15px 0 0 15px;
    padding-left: 30px; }

figcaption {
    font-family: "arial", "helvetica","sans-serif";
    font-size: 13px;
    color: #000000; } 
